/* generics */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    height: 100%;
    width: 100%;
}


header{
    width: 100%;
    height: 600px;
    background-color: hsl(224deg 74% 54%);
    background-image: url("img/jumbo.png");
    background-size: cover;
}


.logo{
    padding-top: 24px;
    padding-left: 15%;
}

.header nav{
    display: inline-block;
    margin: auto 10%;
}


.header li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: white;
    margin: auto 20px;
}
 
.btn{
    padding: 10px 12px;
    border-radius: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.btn:hover {
    color: blue;
    text-decoration: underline;
  }

.btn-primo:hover{
    color: blue;
    text-decoration: underline;
}

.btn-secondo:hover{
    color: blue;
    text-decoration: underline;
}

.btn-ultimo:hover{
    color: blue;
    text-decoration: underline;
}

li:hover{
    color: blue;
    text-decoration: underline;
}

.header-bottom{
    position: absolute;
    float: left;
    text-align: center;
    top: 160px;
    left: 26%;
    width: 50%;
    
}

.header-bottom h1{
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.header-bottom p{
    color: white;
    line-height: 30px;
    font-size: 20px;
}


.btn-primo{
    padding: 12px 30px;
    border-radius: 22px;
    font-size: 20px;
    float: left;
    color: black;
    background-color: white;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 30px;
}

.btn-secondo{
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 22px;
    float: left;
    color: white;
    background-color: black;
    text-decoration: none;
    margin-left: 22px;
    margin-top: 30px;
}

.section{
    width: 100%;
    height: 100vh;
}


.img-left{
    position: relative;
    float: left;
    top: 100px;
    left: 200px;
}

.titolo{
    font-size: 48px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
    width: 40%;

}

.row{

    height: 100vh;
 
}

.row2{
    height: 100vh;
    background-color: hsl(0deg 0% 96%);
}


.titolo{
    padding-top: 130px;
    padding-left: 50px;
}

.float-right2{
    float: right;
    margin-right: 200px;
    margin-top: 100px;

}

.float-left2{
    float: left;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: 140px;
}

.titolo2{
    font-size: 48px;
    margin-left: 50px;
}

.row3{
    height: 150vh;
    background-color: hsl(0deg 0% 96%);
}

#img-big{
    margin-left: 130px;
}

.titolo-sct4{
    padding-top:200px;
}

.titolo4{
    font-size: 40px;
    text-align: center;
}
.comincia{
    margin-left: 150px;

}

#stelle{
    margin-left: 150px;
}

.comincia h2{
    text-align: center;
    background-size: cover;
    margin-bottom: 40px;
}

.btn-ultimo{
        padding: 12px 30px;
        border-radius: 22px;
        font-size: 20px;
        color: white;
        background-color: hsl(226deg 58% 72%);
        text-decoration: none;
        margin-left: 320px;
      
}