/* generics */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */
.float-left{
    margin-left: 15%;
    height: 100px;
}

.w-20{
    width: 20%;
}

/*content*/
.top-header{
    height: 100px;
    background-color: rgb(49 97 224);
    line-height: 120px;
}


nav ul{
    left:30px;
    position: absolute;
}

ul li{
    margin-left: 30px;
    display: inline-block;
}




