/* generics */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    height: 100%;
}


header{
    width: 100%;
    height: 550px;
    background-color: blue;
}

.logo{
    padding-top: 24px;
    padding-left: 15%;
}

.header nav{
    display: inline-block;
    margin: auto 10%;
}

.header ul{

}

.header li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: white;
    margin: auto 20px;
}
 
.btn{
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}